<h3>ROBOT STATUS: <span id=resultcol>RUNNING</span></h3>
<h3>{{ current_r }}</h3>
<ul>
    <li>Ticket ID: 23432</li>
    <li>Exid: 34562-23113-1213</li>
    <li>Priority: 1</li>
    <li>Check that failed: PERCENT DIFF</li>
    <li>Table name : T_1039_wanna_raw</li>
    <li>Avarage running time : 1h 57min</li>
    <h3>Last good counts:</h3>
    <ul>
        <li>
            exid1: 34562-23113-1213 count: 1405 ; when: 2017-03-05
        </li>
        <li>
            exid2: 14562-2343-1213 count: 1325 ; when: 2017-2-27
        </li>
        <li>
            exid2: 24562-5765-1213 count: 1425 ; when: 2017-2-20
        </li>
    </ul>

</ul>
<table data-toggle="table" class="display table table-bordered" id="clienti">
  <thead>
    <tr>
      <th data-field="data">data id</th>
      <th data-field="count">count</th>
    </tr>
  </thead>

</table>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function () {
            socket.emit('my_event', {data: 'Im connected!'})
        });
        socket.on('my_response', function(msg) {
            $('#resultcol').text('Running: ' + msg).html();

        });

    })

</script>



