                <h3>ROBOT STATUS: RUNNING</h3>
                <h3>{{ current_r }}</h3>
                <ul>
                    <li>Ticket ID: 23432</li>
                    <li>Exid: 34562-23113-1213</li>
                    <li>Priority: 1</li>
                    <li>Check that failed: PERCENT DIFF</li>
                    <li>Table name : T_1039_wanna_raw</li>
                    <li>Avarage running time : 1h 57min</li>
                    <h3>Last good counts:</h3>
                    <ul>
                        <li>
                            exid1: 34562-23113-1213 count: 1405 ; when: 2017-03-05
                        </li>
                        <li>
                            exid2: 14562-2343-1213 count: 1325 ; when: 2017-2-27
                        </li>
                        <li>
                            exid2: 24562-5765-1213 count: 1425 ; when: 2017-2-20
                        </li>
                    </ul>

                </ul>
